.searchResult{
    display:flex;
    flex:1;
    border: 1px solid black;
    border-radius: 20px;
}
.searchResult__image{
    object-fit: fill;
    height: 300px;
    border:1px solid green;
    margin:5px;
    border-radius: 20px; 
    flex:0.3;
}
.searchResult__info{
    border: 1px solid red;
    display: flex;
    margin:5px;
    flex:0.7;
}
